<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="mb-4 text-center">Register</h2>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" formControlName="username" class="form-control">
              <div *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)" class="invalid-feedback">
                <div *ngIf="signupForm.get('username')?.hasError('required')">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control">
              <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="invalid-feedback">
                <div *ngIf="signupForm.get('email')?.hasError('required')">Email is required</div>
                <div *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" formControlName="password" class="form-control">
              <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)" class="invalid-feedback">
                <div *ngIf="signupForm.get('password')?.hasError('required')">Password is required</div>
                <div *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="row text-end mt-3">
            <button type="submit" class="btn btn-primary mt-2 btn-block">Signup</button>
          </div>
          <div class="row text-end mt-3">
            <div class="col">
              <a routerLink="/">Back to Login</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
